
.logon-container {
 width: 100%;
 max-width: 1120px;
 height: 100vh;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.logon-container section.formulary {
    margin-top: 50px;
    margin-right: 50px;
}

.logon-container section.formulary form h1{
    margin-top: 10px;
    font: 900 32px Roboto, sans-serif;
    margin-bottom: 22px;
}

